<div clapizss="">
    <div class="">
        <div class="">
            <button class="" ng-click="criar()">Salvar</button>
            <a class="" href="http://localhost:3000/">Cancelar</a>
        </div>
        <div class="">
            <div class="">
                <label class="">Rua: </label>
                <input type="text" ng-model="rua" placeholder="Rua"><br>
                <label class="">Cep: </label>
                <input type="text" ng-model="cep" placeholder="Cep">
            </div>
            <div class="">
                <label class="">Telefone: </label>
                <input  type="text" class="form-control" ng-model="telefone">
            </div>
            <div class="">
                <label class="">Tamanho</label>
                P<input type="radio" ng-model="tamanho" value="P">
                M<input type="radio" ng-model="tamanho" value="M">
                G<input type="radio" ng-model="tamanho" value="G"><br>
                <label class="">Sabores: </label>
                <input type="text" ng-model="sabor1" placeholder="Sabor">
                <input type="text" ng-model="sabor2" placeholder="Sabor">
                <label class="">Especificações</label>
                <input type="text" ng-model="especificacoes" placeholder="Especificações">
            </div>
            <div class="">
                <label class="">Acompanhamento</label>
                <input type="text" ng-model="acompanhamento" placeholder="Acompanhamento">
            </div>
            <div class="">
                <label class="">Preço</label>
                <input type="number" ng-model="preco" placeholder="Preço">
            </div>
            <div class="">
                <label class="">Forma de Pagamento</label>
                Dinheiro<input type="radio" ng-model="forma_pagamento" value="Dinheiro">
                Cartão<input type="radio" ng-model="forma_pagamento" value="Cartão">
            </div>
        </div>
    </div>
</div>