<div class="">
    <div class="">
        <div class="">
            <button class="" ng-click="criar()">Salvar</button>
            <a class="ng" href="http://localhost:3000/">Cancelar</a>
        </div>
        <div class="">
            <h3 class="">{{funcionario.login}} - {{funcionario.senha}}</h3>
        </div>
        <div class="">
            <div class="">
                <label class="">Login: </label>
                <input type="text" ng-model="login" placeholder="Login">
            </div>
            <div class="">
                <label>Senha:</label>
                <input type="text" ng-model="senha" placeholder="senha">
            </div>
        </div>
    </div>
</div>