<div class="">
    <div class="">
        <div class="">
            <button class="" ng-click="criar()">Salvar</button>
            <a class="" href="http://localhost:3000/">Cancelar</a>
        </div>
        <div class="">
            <div class="">
                <label class="">Nome: </label>
                <input type="text" ng-model="nome" placeholder="nome">
            </div>
            <div class="">
                <label class="">Ingredientes: </label>
                <textarea class="" ng-model="ingredientes"></textarea>
            </div>
            <div class="">
                <label class="">Preço: </label>
                <input type="number" ng-model="preco" placeholder="Preço">
            </div>
        </div>
    </div>
</div>